{% extends "layout.html" %}

{%block content%}
<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Servicios
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Murales</a>
      <a class="dropdown-item" href="#">Ilustracion</a>
      <a class="dropdown-item" href="#">Pintura</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Gestion</a>
    </div>
  </div>
{%endblock%}